<div class='form-wrapper'>
  <div class='form-container'>
    <form [formGroup]='courseForm'>
      <div>
        <p>Title:</p>
        <input class='title' [formControl]='titleControl' type='text' name='title' placeholder='Title'>
      </div>
      <div>
        <p>Description:</p>
        <textarea class='description' [formControl]='descriptionControl' type='text' name='description' placeholder='Some words about this course'></textarea>
      </div>
      <div>
        <app-creation [formControl]='creationControl'></app-creation>
      </div>
      <div>
        <app-duration [formControl]='durationControl'></app-duration>
      </div>
      <div>
        <app-authors [formControl]='authorsControl'></app-authors>
      </div>
      <div class='buttons'>
        <button class='save-course' type='button' (click)='onSave()'>Save</button>
        <button class='cancel-edit' type='button' (click)='onCancel()'>Cancel</button>
      </div>
    </form>
  </div>
</div>
