  <div class="courses-container">
    <app-search>
      <div class="row">
        <div class="col-8">
            <input type="text" #search name="search" id="search" [(ngModel)]="searchText"/>
            <button type="button" class="ml-5 btn btn-outline-dark" (click)="setSearchable()">Search</button>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-outline-dark">Add course</button>
        </div>
      </div>
    </app-search>
    <ul class="courses-list">
      <li *ngFor="let course of courseList | orderBy:'creationDate' | filter: searchText">
        <app-course [course]="course"(logId)="logId($event)"></app-course>
      </li>
    </ul>
    <div *ngIf='courseList.length===0;else button' class='no-data'>
      No data. Feel free to add new course.
    </div>
    <ng-template #button><button class="btn btn-outline-dark btn-default btn-block">Load More</button></ng-template>
</div>
